<h3> Helpful Links</H3>

<div id="user_nav">

    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
        <li><%= link_to "Sign out", destroy_user_session_path , :method => :delete%></li>
    <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
</div>