<h1>My Todos</h1>

<div class="row">
  <div class="span8">
    <table class="table">
      <thead>
        <tr>
          <th>Todo</th>
          <th>Complete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @todos.each do |todo| %>
            <td><%= todo.description %></td>
            <td><button type="submit" class="btn">Completed</button></td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <br/>

    <%= link_to "Create New Todo", new_todo_path, class: 'btn btn-large btn-block' %>
  </div>
</div>


<br/>